In [4]:
#3장 2번
x1 = ['kim','lee','park']
x2 = [170, 160, 180]
x3 = [60, 55, 75]
key = ['name', 'height', 'weight']

dict = {}

dict[key[0]] = x1
dict[key[1]] = x2
dict[key[2]] = x3

dict

{'name': ['kim', 'lee', 'park'],
 'height': [170, 160, 180],
 'weight': [60, 55, 75]}

In [27]:
# 3장 3번
import pandas as pd
import numpy as np

df = pd.DataFrame(dict)

a = df.loc[0,['height','weight']]
nparray = np.array(a)
#type(nparray)
array = nparray.tolist()
#type(array)

list

   name  height  weight
0   kim     170      60
1   lee     160      55
2  park     180      75

In [54]:
# 4장 7번
def mywage (time):
    hourlyWage = 10000
    if(time<0):
        print('시간은 양수입니다.')
        wage = 0
    elif(time<=40):
        wage = time*hourlyWage
    elif(time>40):
        overTime = time-40
        wage = time*hourlyWage + overTime*hourlyWage*1.5   
    return wage

TypeError: '<' not supported between instances of 'str' and 'int'

In [3]:
#4장 9번
class knou:
    def example(name):
        a = 'Hello' +' '+ name+' '+'!'
        b = 'Good-bye'+' '+ name+' '+'!'
        return[a,b]        

a = knou.example('David')[0]
b = knou.example('David')[1]

print(a)
print(b)

Hello David !
Good-bye David !

In [17]:
import pandas as pd

#csv파일 가져오기
data = pd.read_csv('C:/nutrient2.csv')

#결측값 제거

#결측값 확인
calciumNa=(data.loc[data['calcium'] == 0])
ironNa=(data.loc[data['iron'] == 0])
proteinNa=(data.loc[data['protein'] == 0])
vitaminANa=(data.loc[data['vitaminA'] == 0])
vitaminCNa=(data.loc[data['vitaminC'] == 0])

print(len(calciumNa), len(ironNa), len(proteinNa), len(vitaminANa), len(vitaminCNa))

4 2 1 9 7

In [ ]:
import numpy as np
from scipy.stats import mode