In [4]:
#3장 2번
x1 = ['kim','lee','park']
x2 = [170, 160, 180]
x3 = [60, 55, 75]
key = ['name', 'height', 'weight']

dict = {}

dict[key[0]] = x1
dict[key[1]] = x2
dict[key[2]] = x3

dict

{'name': ['kim', 'lee', 'park'],
 'height': [170, 160, 180],
 'weight': [60, 55, 75]}

In [27]:
# 3장 3번
import pandas as pd
import numpy as np

df = pd.DataFrame(dict)

a = df.loc[0,['height','weight']]
nparray = np.array(a)
#type(nparray)
array = nparray.tolist()
#type(array)

list

   name  height  weight
0   kim     170      60
1   lee     160      55
2  park     180      75

In [54]:
# 4장 7번
def mywage (time):
    hourlyWage = 10000
    if(time<0):
        print('시간은 양수입니다.')
        wage = 0
    elif(time<=40):
        wage = time*hourlyWage
    elif(time>40):
        overTime = time-40
        wage = time*hourlyWage + overTime*hourlyWage*1.5   
    return wage

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
#4장 9번